.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.myModalContent {
  padding: 30px;
  background: #7ed321;
  border-radius: 43px;
  min-width: 25%;
  width: 300px;
  height: 225px;
}
.myModalContent img {
  position: relative;
  left: 95%;
  bottom: 97%;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 512px) {
  .myModalContent {
    width: 65%;
    height: 350px;
  }
  .myModalContent img {
    position: relative;
    left: 95%;
    bottom: 90%;
  }
}
