.post_container {
  width: 95%;
}
.item {
  margin: 40px 6% 0 6%;
  display: flex;
}
.item button {
  background-color: #7ed321;
  width: 100%;
  height: 45px;
  border-radius: 20px;
  border: 1px solid #ffff;
  color: #ffff;
  cursor: pointer;
}

.modal_input {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.modal_input span {
  font-size: 16px;
}
.textArea {
  border-radius: 5px;
  border: 1px solid #ffff;
}
@media (max-width: 512px) {
  .modal_input {
    flex-direction: column;
  }
  .textArea {
    height: 30px;
    width: 100%;
  }
}
