.myMobileModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 99999;
  overflow: unset;
}

.myMobileModalContent {
  width: 100%;
  height: 0%;
}
.myMobileModalContent img {
  position: relative;
  left: 95%;
  bottom: 97%;
}

.myMobileModal.activeClass {
  display: flex;

  margin-top: 7%;
}
@media (max-width: 512px) {
  .myMobileModalContent {
    width: 100%;
    margin-top: 16%;
  }
  .myMobileModalContent img {
    position: relative;
    left: 95%;
    bottom: 90%;
  }
  .myMobileModal.activeClass {
    margin-top: 3%;
  }
}
@media (max-width: 1240px) {
  .myMobileModal.activeClass {
    margin-top: 9%;
  }
}
@media (max-width: 960px) {
  .myMobileModal.activeClass {
    margin-top: 10%;
  }
}

